body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-sans-serif);
    font-size: var(--font-size);
    color: var(--dark-gray-blue);
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--cream);
}

.container {
    max-width: 350px;
    box-sizing: border-box;
    margin: 30px 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--white);
}

.product-image {
    width: 100%;
    height: auto;
}

.product-image img {
    width: 100%;
}

.product-details {
    padding: 20px
}

.product-category {
    font-size: 0.7rem;
    letter-spacing: 0.3rem;
}

.product-title {
    font-family: var(--font-family-serif);
    color: var(--dark-blue);
    margin: 10px 0;
}

.product-description {
    line-height: 1.5rem;
    margin: 10px 0;
}

.product-price {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    margin: 10px 0 20px 0;
}

.product-price__new {
    font-family: var(--font-family-serif);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    color: var(--dark-cyan);
    width: 50%;
}

.product-price__old {
    font-size: 0.8rem;
    width: 50%;
}

.button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
    margin: 0;
    border: none;
    border-radius: 5px;
    background-color: var(--dark-cyan);
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: var(--v-dark-cyan);
}

.button span {
    display: block;
    background-image: url('./images/icon-cart.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
}

.attribution {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0.7rem;
    text-align: center;
}

.attribution a {
    font-size: 0.7rem;
}

@media screen and (min-width: 580px) {
    .container {
        max-width: 600px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .product-image {
        width: 50%;
        min-width: 50%;
    }

    .product-details {
        width: 50%;
        padding: 20px 40px;
    }
}